/* @import url(https://fonts.googleapis.com/css?family=Montserrat); */

@font-face {
  font-family: "GT Medium";
  src: local("GT Medium"),
    url('../src/Resources/font/walsheim/GTWalsheimPro-Regular.ttf') format("truetype");
}

@font-face {
  font-family: "GT Regular";
  src: local("GT Regular"),
    url('../src/Resources/font/walsheim/GTWalsheimPro-Regular.ttf') format("truetype");
}

@font-face {
  font-family: "GT Light";
  src: local("GT Light"),
    url('../src/Resources/font/walsheim/GTWalsheimPro-Light.ttf') format("truetype");
}

@font-face {
  font-family: "GT Bold";
  src: local("GT Bold"),
    url('../src/Resources/font/walsheim/GTWalsheimPro-Bold.ttf') format("truetype");
}

@font-face {
  font-family: "GT Light";
  src: local("GT Light"),
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(21, 21, 21);
  font-family: 'GT Light', sans-serif;
}

h3 {
  font-weight: bold;
}

li {
  list-style: none;
}

.cart-icon {
  width: 40px;
  color: #18FFAC;
  height: 40px;
}


.arrow-back {
  margin-bottom: 50px;
  cursor: pointer;
  display: flex;
  width: 60px;
  height: 60px;
  color: #18FFAC;
}

.home {
  padding-top: 150px;
  position: relative;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  color: black;
  animation-duration: 1s;
  animation-name: translateY;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.loading h1 {
  font-weight: bold;
  color: white;
}

@keyframes translateY {
  from {
    transform: translate(0);
  }

  to {
    transform: translateY(-10%);
  }
}

.nav-right {
  display: flex;
  width: 400px;
  justify-content: space-around;
  align-content: center;
}


.nav-drop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  min-width: 100vw;
  left: 0;
  height: 100vh;
  margin: 0 auto;
  background: red;
}



header {
  background-color: rgb(34, 34, 34);
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 107px;
  position: fixed;
  z-index: 11;
}


.game-search {
  border-radius: 24px;
  min-width: 200px;
  width: 40%;
  background-color: rgba(59, 59, 59);
  height: 44px;
  margin: 0 30px;
  position: relative;
}

.game-search input {
  padding: 0 12px 0 38px;
  width: 100%;
  border-radius: 24px;
  line-height: 44px;
  font-size: 14px;
  font-weight: 400;
  border: none;
  background-color: rgba(59, 59, 59);
  outline: none;
  z-index: 2;
  transition: 0.3s ease all;
}

.game-search:hover input {
  background-color: white;
}

.game-search:hover .search-icon {
  color: rgba(0, 0, 0, 0.7);
}

.game-search:hover .xmark-icon {
  color: rgba(0, 0, 0, 0.7);
}

.search-icon {
  position: absolute;
  color: #aaa;
  left: 20px;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease all;
}

.xmark-icon {
  position: absolute;
  color: #aaa;
  right: 20px;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease all;
  cursor: pointer;
}

.main-title {
  text-align: left;
  font-weight: bold;
  color: white;
  font-size: 60px;
}

.login {
  text-decoration: none;
  text-align: center;
  width: 100%;

  background: rgba(59, 59, 59);
  padding: 13px 0;
  border-radius: 50px;
  color: #fff;

  max-width: 100px;
  -webkit-box-shadow: 2px 3px 2px 0px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 2px 3px 2px 0px rgba(0, 0, 0, 0.17);
  box-shadow: 2px 3px 2px 0px rgba(0, 0, 0, 0.17);

  position: relative;
  overflow: hidden;
  font-weight: bold;
  font-size: 15px;
}

.signup {
  text-decoration: none;
  text-align: center;
  width: 100%;
  background-color: rgba(59, 59, 59);

  padding: 13px 0;
  border-radius: 50px;
  color: #fff;
  transition: all ease 0.2s;
  max-width: 100px;
  -webkit-box-shadow: 2px 3px 2px 0px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 2px 3px 2px 0px rgba(0, 0, 0, 0.17);
  box-shadow: 2px 3px 2px 0px rgba(0, 0, 0, 0.17);
  transition: all ease 0.2s;
  position: relative;
  overflow: hidden;
  font-weight: bold;
  font-size: 15px;
}

.login::after {
  content: "";
  width: 30px;
  height: 200px;
  position: absolute;
  left: -20px;
  top: 0;
  margin-top: -20px;
  background: #fff;
  opacity: 0.6;
  filter: blur(20px);
  animation: login-blur 3s infinite;
  animation-delay: 0s;
  transform-origin: top;
}

.signup::after {
  content: "";
  width: 30px;
  height: 200px;
  position: absolute;
  left: -20px;
  top: 0;
  margin-top: -20px;
  background: #fff;
  opacity: 0.6;
  filter: blur(20px);
  animation: login-blur 3s infinite;
  animation-delay: 0s;
  transform-origin: top;
}



.login:hover {
  transform: translateY(-3px);
  background-color: #ccc;
  color: #262626;
}

.signup:hover {
  transform: translateY(-3px);
  background-color: #ccc;
  color: #262626;
}


/* main container */
.game-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px 20px;
}

.game {
  width: 350px;
  height: 350px;
  border-radius: 7px;
  margin: 30px 10px 20px 10px;
}

.game:hover {
  z-index: 10;
}

.game-card {
  width: 100%;
  position: relative;
  border-radius: 7px;
}

.game-card:hover {
  transform: scale(1.03);
  transition: all 0.3s;
}

.game-img {
  width: 350px;
  height: 200px;
  overflow: hidden;
  position: relative;
}

.game-card:hover img {
  opacity: 0.45;
}

.game-img img {
  transition: all ease 0.3s;
  width: 100%;
  height: 100%;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}

/* more details button */
.more-btn {
  width: 200px;
  height: 40px;
  padding: 10px 25px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
  background: transparent;
  color: rgba(255, 255, 255, 0.5);
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.more-btn:hover {
  color: #fff;
}

/* hover detailed info */
.game-info {
  background-color: #242226;
  color: white;
  height: auto;
  padding: 15px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.game-info svg {
  padding-right: 5px;
}

.game-info a {
  text-decoration: none;
}

.game-info-title {
  color: white;
}

.game-info-title:hover {
  color: #ccc;
  transition: all 0.3s ease;
}

/* hover */
.game-info-about {
  padding: 0;
  margin: 0;
  animation: fade 1s;

}

.game-info-about>li {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.game-info-about span {
  text-align: right;
}

.game-info-about .genres,
.released-date {
  color: #ccc;
  font-size: 15px;
}

.genres-info,
.release-info {
  color: #FFF;
}

.price {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  align-items: center;
  font-weight: bold;
}

.price span {
  font-size: 20px;
}

.game-card-button {
  font-weight: 600;
  display: flex;
  flex: 0 1 auto;
  align-items: center;
  justify-content: center;
  min-width: 34px;
  min-height: 24px !important;
  line-height: 12px;
  border: none;
  border-radius: 4px;
  color: #fff;
  padding: 10px;
  background-color: hsla(0, 0%, 100%, .1);
  cursor: pointer;
  margin: 10px 0;
}

.game-card-button:hover {
  color: #151515;
  background-color: #FFFFFF;
}

.buy-btn:hover {
  color: #fff;
}

/* meta score */
.metacriticScore {
  z-index: 10;
  /* position: absolute; */
  width: 45px;
  height: 45px;
  /* right: -110px;
  bottom: -20px; */
}

/* more details */
.details {
  color: white;
  display: flex;
  flex-direction: row;
  padding-top: 100px;
  max-width: 1200px;
}

.details img {
  width: 200px;
  border-radius: 5px;
  margin: 5px;
}

.details video {
  border-radius: 5px;
  margin: 5px;
  overflow: hidden;
}

.details-descriptions {
  width: 600px;
}

.details-descriptions a {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  padding-bottom: 10px;
}

.details-descriptions a:hover {
  color: #ccc;
  transition: all 0.3s ease;
}

.details-images {
  width: 600px;
  margin-left: 50px;
}

/* pagination */
.pagination {
  padding-top: 150px;
  margin: 60px 0;
}

.page-link {
  color: white;
  border: none;
  font-weight: 600;
  background-color: transparent;
}

.page-item.active .page-link {
  z-index: 1;
  color: #000;
  background-color: #fff;
}

.page-link:hover {
  color: #000;
  background-color: #fff;
}

.header-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 50px 50px 0 50px;

}

.details-name {
  font-weight: bold;
  color: #fff;
  font-size: 3.3em;
  letter-spacing: 1px;
  -webkit-transform: scaleY(1.1);
  transform: scaleY(1.1);
}

/* login page*/
.form-signin {
  max-width: 450px;
  margin: 150px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-custom {
  background-color: #18FFAC;
}

.form-signin form {
  width: 320px;
  text-align: center;
  border: 1px solid white;
  padding: 40px 30px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(255, 255, 255);
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;

}

.form-signin input[type="password"] {
  margin-bottom: 10px;

}

/* Sidebar */
/* .sidebar {
  background-color: rgb(30, 30, 30);
  width: 250px;
  padding: 90px 20px 20px 30px;
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-weight: bold;
  left: -250px;
  top: 0;
  z-index: 1;
  transition: all 0.5s;
}

.sidebar.active {
  left: 0;
}

.sidebar a {
  color: #fe4066;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.5em;
}

.sidebar .homeButton:hover {
  transition: all 0.3s ease;
  background-color: #222;
}

.sidebar-menu {
  color: white;
}

.sidebar-menu ul {
  padding-left: 5px;
}

.sidebar-menu-title {
  cursor: pointer;
}

.sidebar-menu-title:hover {
  transition: all 0.3s ease;
  background-color: #222;
}

.sidebar-menu li {
  font-size: 0.7em;
}

.sidebar-menu li:hover {
  transition: all 0.3s ease;
  background-color: #222;
}


.sidebar-xmark-icon {
  position: absolute;
  top: 38px;
  left: 180px;
  color: white;
  cursor: pointer;
}

.sidebar-xmark-icon:hover {
  color: #ccc;
  transition: all 0.3s ease;
}

.sidebar-down-icon {
  transition: all 0.3s;
}

.sidebar-down-icon.rotate {
  transform: rotate(90deg);
} */


.hidden {
  display: none;
}

.show {
  display: block;
}

.fade-in {
  animation: fade 0.5s;
}

.fade-out {
  animation: fade-out 0.5s;
}



@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes login-blur {
  from {
    transform: translate(0) rotate(45deg);
  }

  to {
    transform: translateX(370px) rotate(45deg);
  }
}

@media only screen and (max-width: 600px) {
  .game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .login {
    display: none;
  }

  .signup {
    display: none;
  }
}



@media only screen and (max-width: 600px) {
  .details {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    padding-top: 0;
  }

  .details-images {
    width: 80%;
    margin-left: 0;
  }

  .details-img {
    display: flex;
    flex-direction: column;
  }

  .details-descriptions {
    width: 100%;
  }

  .details p {
    width: 80%;
  }
}



@media only screen and (max-width: 480px) {
  .game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  /* NAVBAR  */

  /* .platforms {
    display: none;
  } */
  .category h2 {
    font-size: 22px;
  }

  .category ul li p {
    display: none;
  }

  .category ul li svg {
    display: flex;
    width: 120px;
  }

  .category ul li {
    justify-content: center;
  }

  .logo {
    display: none;
  }

  /* NAVBAR  */
  header {
    padding: 0;
  }

  .SideBar {
    width: 500px;
  }

  .login {
    display: none;
  }

  .signup {
    display: none;
  }
}



/* // scroll //  */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 10px;
}


.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}